# Bytecode files
__pycache__/
*.pyc   
*.gbc

# virtual environment
.venv/

# Jupyter Notebook checkpoints
/runs

# Model checkpoints
saves/*.pkl

*.ram
*.rtc
*.state
runs/
saves/*.state
!saves/totodile.state